<div>
	<h2 ng-click="toggleBomScriptures()">Book of Mormon</h2>
	<div ng-show="showBomScriptures">
		<div ng-repeat="scripture in mastery.bom.scriptures">
			<h3>{{scripture.book}} {{scripture.chapter}}:{{scripture.verse}} Difficulty: {{scripture.difficulty}}</h3>
			<h4><em>{{scripture.gist}}</em></h4>
			<p>Stars: {{user.mastery.bom[scripture.index].stars}}</p>
			<a href="#/master-scriptures/bom/{{scripture.index}}">Master this scripture!</a>
		</div>
	</div>
</div>

<div>
	<h2 ng-click="toggleOtScriptures()">Old Testament</h2>
	<div ng-show="showOtScriptures">
		<div ng-repeat="scripture in mastery.ot.scriptures">
			<h3>{{scripture.book}} {{scripture.chapter}}:{{scripture.verse}} Difficulty: {{scripture.difficulty}}</h3>
			<h4><em>{{scripture.gist}}</em></h4>
			<p>Stars: {{user.mastery.ot[scripture.index].stars}}</p>
			<a href="#/master-scriptures/ot/{{scripture.index}}">Master this scripture!</a>
		</div>
	</div>
</div>

<div>
	<h2 ng-click="toggleNtScriptures()">New Testament</h2>
	<div ng-show="showNtScriptures">
		<div ng-repeat="scripture in mastery.nt.scriptures">
			<h3>{{scripture.book}} {{scripture.chapter}}:{{scripture.verse}} Difficulty: {{scripture.difficulty}}</h3>
			<h4><em>{{scripture.gist}}</em></h4>
			<p>Stars: {{user.mastery.nt[scripture.index].stars}}</p>
			<a href="#/master-scriptures/nt/{{scripture.index}}">Master this scripture!</a>
		</div>
	</div>
</div>

<div>
	<h2 ng-click="toggleDcScriptures()">Doctrine &amp; Covenants and Church History</h2>
	<div ng-show="showDcScriptures">
		<div ng-repeat="scripture in mastery.dc.scriptures">
			<h3>{{scripture.book}} {{scripture.chapter}}:{{scripture.verse}} Difficulty: {{scripture.difficulty}}</h3>
			<h4><em>{{scripture.gist}}</em></h4>
			<p>Stars: {{user.mastery.dc[scripture.index].stars}}</p>
			<a href="#/master-scriptures/dc/{{scripture.index}}">Master this scripture!</a>
		</div>
	</div>
</div>